nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    transition: all ease 0.5s;

    &.squeezed {
        width: 75%;
        margin-left: 25%;
    }

    @media screen and (max-width: 768px) {
        padding: 0px 15px;
    }

    h1 {
        padding-left: 5px;

        @media screen and (max-width: 768px) {
            padding-left: 0px;
        }
    }

    button {
        z-index: 10;
        cursor: pointer;
        background: transparent;
        border: 2px solid rgb(65, 65, 65);
        padding: 0.5rem;
        transition: all 0.3s ease;

        &.open,
        &:hover {
            background-color: rgb(65, 65, 65);
            color: white;
        }

        svg {
            margin-right: 5px;
        }
    }
}
