.song-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.song-cover {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        animation: spin linear 60s infinite forwards;
        animation-play-state: paused;

        &.spinning {
            animation-play-state: running;
        }
    }
}

.song-name {
    padding: 3rem 1rem 1rem 1rem;
}

.song-artist {
    font-size: 1rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
